@use "styles/variables";
.DropDown--items{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    justify-content: space-around;
    flex-direction: column;
    background: variables.$blackGradient;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 1;
    width: 10rem;

}


.DropDown--items li{
   
    
    cursor: pointer;

}

.DropDown--subitems{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1.6rem;
  

}

.DropDown--subitems.clicked{
   display: none;
    
  
  }
