@use "styles/variables";

.NavBar{
background: variables.$blackGradient;
position: sticky;
top: 0;
display: flex;
z-index: 5;
padding-top: 3.1rem;
padding-left: 5rem;
padding-right: 7.9rem;
&--imgRiot{
    
    width: 17.1rem;
    height: 6.4rem;
}
&--imgLogo{
padding-left: 1rem;
width: 11.3rem;
height: 5.4rem;
}
&--items{
    
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    justify-content: space-around;
    

}
}