@use "styles/variables";

.NavBar{
background: variables.$blackGradient;
position: sticky;
top: 0;
display: flex;
z-index: 5;
padding-top: 3.1rem;
padding-left: 5rem;
padding-right: 7.9rem;
@media  (min-width: 375px) and (max-width: 700px){
    width: 100%;

    
}

&--imgRiot{
    cursor:pointer;
    width: 17.1rem;
    height: 6.4rem;
    @media  (min-width: 375px) and (max-width: 700px){
       display: none;
        
    }
}
&--imgLogo{
padding-left: 1rem;
width: 11.3rem;
height: 5.4rem;
cursor:pointer;
@media  (min-width: 375px) and (max-width: 700px){
    padding: 0;
    
}
}
&--items{
    cursor:pointer;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    justify-content: space-around;
    opacity: 100%;
    &::before{
        content: "";
        position: absolute;
        width: 0%;
        bottom: -16px;
        left: 0;
        height: 6px;
        transition: all 0.2s;
        background-color: variables.$BeautyBlue;
    } 


    @media  (min-width: 375px) and (max-width: 700px){
        flex-flow: column nowrap;
        position: relative;
        height: 80vh;
        z-index: 6;
        display: flex;
        }
    
    &:hover{
        
        width: 100%;
        cursor:pointer;    
    }
    
} 
}
.NavBar--items::hover:before{
    width: 100%;
}

.Burguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 4rem;
    right: 6rem;
    justify-content: space-around;
    flex-flow: column nowrap;
    &--line{
        width: 3rem;
        height: 2rem;
        height: 0.45rem;
        margin: 0.7rem;
        border-radius: 1rem;
        &:nth-child(1){
            display: flex;
        }
    }

}



