@use "styles/variables";

.Modal {
  background-color: white;
  z-index: 20;
  display: flex;
  position: absolute;
  width: 70.4rem;
  height: 53.3rem;
  color: black;
  margin: auto;
  border-radius: 1.6rem;
  &__input {
    width: 32.7rem;
    height: 6.9rem;
    background-color: #ebebeb;
    border-radius: 1.6rem;
    border: none;
    font-size: 2.2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    ::placeholder {
      padding: 0;
      border: 0;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: -0.02em;
      color: white;
      opacity: 0.8;
      margin-right: 1rem;
    }
  }
}

.show {
  display: block !important;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &::hover {
    box-shadow: 10rem black;
  }
}
