@use "styles/variables";

.Modal{
  background-color: white;
  z-index: 20;
  display: flex;
  position: absolute;
  width: 70.4rem;
  height: 43.3rem;
  color: black;
  margin: auto;
  border-radius: 1.6rem;
  flex-direction: column;
  &__title{
    display: flex;
    margin: 4rem auto 3rem auto;
    position: relative;
    flex-direction: column;
    width: 40.2rem;
    font-size: 6.0rem;
    height: 5.9rem;
    justify-content: center;
    align-items: center;
  }
 &__selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3rem auto;
 }
  &__input{
    
    width: 32.7rem;
    height: 6.9rem;
    background-color: #ebebeb;
    border-radius: 1.6rem;
    border: none;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-left: 3rem;
    letter-spacing: 0.02em;
    &--server{
      margin-top: 3rem;
      margin-left: 3rem;
    }
    &--label{
      padding-left: 3rem;
      padding-bottom: 1rem;

    }
   &--position{
    display: flex;
    flex-direction: column;
    
   } 
   &--btn{
    margin: auto auto;
    position: relative;
   }
  }
}

.show {
  display: block !important;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &::hover {
    box-shadow: 10rem black;
  }
}
