@use "styles/variables";
/* fonts: large, medium, small
size: 14px, 18px, 22px;
 */

.buttonNav{
  background-color: variables.$BeautyBlue;
  border-radius: 10px;
  width: 15.2rem;
  height: 5.54rem;
  margin: 0;
  align-items: center;
  border: none;
  display: flex;
    justify-content: space-around;
 

  &--mt{
    font-size: 2.2rem;
    border-radius: 0px;
    background: url('/images/buttonFrameImg.png') 0 0;
    background-size: cover;
    
  }
  
  
}
