@use "styles/variables";
.ButtonNav_Text{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    
}

.logo{
    position: relative;
  
    display: flex;
    z-index: 5;
    
}
    
.buttonNav--mt{
    display: flex;
    position: relative;
   
}


.HomeScreen__Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 6%;
}

.isBlurred{
    backdrop-filter: 80px;
}