@use "styles/variables";
.ButtonNav_Text{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    
}

.logo{
    position: relative;
    margin: auto;
    display: flex;
    z-index: 5;
    left: 17rem;
    right: 12.5rem;
    top: 30rem;
}
    

