@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* variables */

* {
  font-size: 62.5%; /* 1rem =10px; */
  font-family: "Do Hyeon", sans-serif;
  margin: 0;
}
 
html {
  
  background-color: variables.$background;
}

li::marker {
  content: "";
  

}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}